In [1]:
import mysql.connector

In [2]:
connection = mysql.connector.connect(
    host="localhost",       
    user="root",            
    password="",            
    database="compl"    
)
mycursor = connection.cursor()

In [3]:
pip install tabulate

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tabulate in c:\users\ranjana devi\appdata\roaming\python\python313\site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
mycursor.execute("SELECT * FROM complexes WHERE complex_id ='sr:complex:81815'")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+------------------+----------------------+
| complex_id       | complex_name         |
|------------------+----------------------|
| sr:complex:81815 | Complejo de Raquetas |
+------------------+----------------------+

In [ ]:
#List all venues along with their associated complex name
mycursor.execute(""" SELECT 
v.venue_id,v.venue_name,v.city_name,v.country_name,c.complex_name
FROM
compl.venues v
inner join 
compl.complexes c  ON v.complex_id=c.complex_id
 GROUP BY
c.complex_name;                              
                 """)
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

In [ ]:
#Count the number of venues in each complex
mycursor.execute(""" SELECT c.complex_id, c.complex_name, COUNT(v.venue_id) AS venue_count
FROM compl.complexes AS c
LEFT JOIN compl.venues AS v ON c.complex_id = v.complex_id
GROUP BY c.complex_id, c.complex_name;
""")

out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

In [ ]:
#Get details of venues in a specific country (e.g., Chile)
mycursor.execute(""" SELECT v.venue_id,v.venue_name,v.city_name,v.timezone,v.country_name
                 From compl.venues v
                 where v.country_name="china"
""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

In [ ]:
#Identify all venues and their timezones
mycursor.execute("""SELECT v.venue_id,v.venue_name,v.timezone
                 FROM compl.venues AS v
                 """)
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

In [ ]:
#Find complexes that have more than one venue
mycursor.execute(""" SELECT c.complex_id,c.complex_name,count(v.venue_id) AS venue_count
                 FROM
                 compl.complexes c
                 join
                 compl.venues v 
                 ON
                 c.complex_id=v.complex_id
                 GROUP BY c.complex_id, c.complex_name
                 HAVING COUNT(v.venue_id) > 1;
                 """)
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

In [ ]:
#List venues grouped by country
mycursor.execute("""SELECT v.venue_id,v.venue_name,v.country_name,COUNT(v.venue_id)AS venue_count
                 FROM compl.venues v
                 GROUP BY v.country_name
                 """)
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

In [ ]:
#Find all venues for a specific complex (e.g., Nacional)
mycursor.execute(""" SELECT v.venue_id,v.venue_name,v.country_name,c.complex_name
                 FROM compl.venues v
                 join
                 compl.complexes c
                 ON
                 v.complex_id=c.complex_id
                 WHERE complex_name="Ariake Colosseum"
                 """)
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))