In [12]:
import mysql.connector

In [13]:
connection = mysql.connector.connect(
    host="localhost",       
    user="root",            
    password="",            
    database="doubles"    
)
mycursor = connection.cursor()

In [ ]:
pip install tabulate

In [ ]:
mycursor.execute("""SELECT * FROM competitor_rankings
                 WHERE `rank` BETWEEN 1 AND 100 
                 ORDER BY `rank` ASC;
                 """)
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

In [ ]:
#Get all competitors with their rank and points.
mycursor.execute(""" SELECT rank,points,competitor_id
                 FROM
                 doubles.competitor_rankings""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

In [ ]:
#Find competitors ranked in the top 5
mycursor.execute(""" SELECT cr.rank,cr.competitor_id,c.name
                 FROM
                 doubles.competitor_rankings as cr
                 LEFT JOIN
                 doubles.competitor as c
                 ON
                 cr.competitor_id=c.competitor_id""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

In [ ]:
#List competitors with no rank movement (stable rank)
mycursor.execute("""SELECT c.competitor_id, c.name, cr.rank, cr.movement
FROM doubles.competitor c
JOIN doubles.competitor_rankings cr ON c.competitor_id = cr.competitor_id
WHERE cr.movement = 0;""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

In [ ]:
#Get the total points of competitors from a specific country (e.g., Croatia)
mycursor.execute(""" SELECT c.country,c.country_code,SUM(cr.points) AS Total_points
                 FROM
                 doubles.competitor as c
                 ON
                 doubles.competitor_rankings as cr
                 JOIN
                 ON
                 c.competitor_id=cr.competitor_id
                 WHERE country="croatia"
""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

In [ ]:
mycursor.execute("""SELECT c.country, c.country_code, SUM(cr.points) AS total_points
FROM doubles.competitor AS c
JOIN doubles.competitor_rankings AS cr ON c.competitor_id = cr.competitor_id
WHERE c.country = 'Croatia'
GROUP BY c.country, c.country_code;
""")

out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

In [ ]:
#Count the number of competitors per country
mycursor.execute("""SELECT country, country_code, COUNT(*) AS competitor_count
FROM doubles.competitor
GROUP BY country, country_code
ORDER BY competitor_count DESC;
                 """)
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

In [ ]:
#Find competitors with the highest points in the current week
mycursor.execute("""SELECT c.competitor_id,c.name,max(cr.points) as Highest_points
                 FROM
                 doubles.competitor  c
                 JOIN
                 doubles.competitor_rankings cr ON
                 c.competitor_id=cr.competitor_id
                 """)
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))